.active2 {
  font-size: 18px;
  margin-left: -15px;
  margin-right: -15px;

}

strong{
    font-size: 18px;
}

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
    margin-top: -80px;
  }

footer {
    padding-left: 10px;
}