.pt-anchor.pt-anchor-primary {
    margin-bottom: 2px;
    margin-right: 1px;
}

.page-image {
    float:left;
    width: 40%;
}

.page-title {
    font-size: 35px;
    font-weight: 900;
    float: left;
    font-family: 'raleway' , 'sans-serif';
    font-weight: bold;
}

header .logo {
    background: #fff;
    display: block;
    float: left;
    height: 7rem;
    width: 9.5rem;
    position: relative;
    top: 1px;
    margin-top: -1px;
    margin-right: .75rem;
    padding-bottom: 1px;
    box-sizing: content-box;
    overflow: hidden;
    -ms-transform: skew(10.5deg);
    -webkit-transform: skew(10.5deg);
    transform: skew(10.5deg);
    transition: .3s ease-out;
}

header .logo .slogan {
    display: block;
    font-family: 'raleway' , 'sans-serif';
    width: 8.5rem;
    position: absolute;
    top: 3.8rem;
    left: 0.5rem;
    color: #b4b2b2;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    -ms-transform: skew(-1.5deg);
    -webkit-transform: skew(-1.5deg);
    transform: skew(-9.5deg);
}

.bg-img3 {
    background-image: url(images/Sync-Development-Alphen-ad-Rijn-Laptop-mobiel-computer.jpg);
    min-height: 545px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}