.logo{
    width: 19%;
}

.pt-box.pt-box-2 {
    background: #fff;
    border-bottom: 5px solid #227722;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    padding: 30px;
    max-height: 650px;
    min-height: 650px;
}

.pt-box.pt-box-3 {
    background: #fff;
    border-bottom: 5px solid #227722;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    padding: 30px;
    max-height: 545px;
    min-height: 545px;
}


.Trainers{
    width: 100%;
}

.pt-anchor.pt-anchor-primary {
    margin-bottom: 2px;
    margin-right: 1px;
}

.page-image {
    float:left;
    width: 40%;
}